.impact-section{
    background-color: cornsilk;
}
.impact-title h1{
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
}
.impact-contaner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.impact{
   display: grid;
   grid-template-columns: 1fr;
    justify-content: center;
    margin: 1rem;
}
.span-title{
    font-size: 100px;
    color: #09a6d4;
    margin-left: 2rem;
   
}
.span-details{
    font-size: 25px;
    color: #09a6d4;
    margin-left: 2.8rem;
}
.span-info p{
    font-size: 18px;
    color: #09a6d4;
    margin-left: 2.8rem; 
}